ClientesWeb/src/wsdl/localhost_8080/WS_CONUNI_SOAP_JAVA/WSConversionUnidades.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.monster.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.monster.edu.ec/">

<xs:element name="centimetrosAPulgadas" type="tns:centimetrosAPulgadas"/>

<xs:element name="centimetrosAPulgadasResponse" type="tns:centimetrosAPulgadasResponse"/>

<xs:element name="pulgadasACentimetros" type="tns:pulgadasACentimetros"/>

<xs:element name="pulgadasACentimetrosResponse" type="tns:pulgadasACentimetrosResponse"/>

<xs:complexType name="centimetrosAPulgadas">
<xs:sequence>
<xs:element name="centimetros" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="centimetrosAPulgadasResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pulgadasACentimetros">
<xs:sequence>
<xs:element name="pulgadas" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pulgadasACentimetrosResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>